@media (max-width: 425px) { 
    .content-project div .justify-content-center .col-xl-9 .list-project .row .custom-width-col .regular .ml-3{
        margin-left: 7px !important;
    }
}
@media (max-width: 575.98px) { 
    .banner{
        margin-top: 13%;
    }
    .navbar-brand img{
        width: 50% !important;
    }
    .subheadline{
        font-size: 17px;
    }
    .feature-image{
        justify-content: center;
    }
    .image-detail, .image-detail img, .thumb-blog, .thumb-blog img{
        width: 100%;
        margin-bottom: 2%;
    }
    .desc-detail{
        top: 16%;
    }
    .row{
        justify-content: center;
    }
    #about-us .col-md-8{
        text-align: center;
    }
    #about-us .col-md-8 img{
        width: 75%;
    }
    #about-us .col-9 h4{
        margin-bottom: 5%;
    }
    .detail-about-us{
        text-align: center;
    }
    .service{
        margin-bottom: 5%;
    }
    .service p{
        width: 100%;
    }
    .service label{
        margin-top: 20px;
    }
    .photo{
        text-align: center;
        margin-bottom: 4%;
    }
    .photo img{
        width: 75%;
    }
    .label-artist{
        height: auto !important;
        margin-left: 12.4%;
        width: 75.4% !important;
        padding-top: 60.5%;
    }
    #our-project .row{
        position: relative;
    }
    #our-project .col-10:first-child{
        margin-top: 20px;
        text-align: center !important;
    }
    #our-project .col-10:first-child h4{
        margin-bottom: 25px;
    }
    #our-project .row .col-10:first-child .artwork-project{
        margin-top: 75%;
        margin-left: 2%;
        text-align: left;
    }
    #our-project .row .col-10:first-child .location-project{
        text-align: left;
        /* position: absolute; */
        margin-left: 2%;
    }
    #our-project .row .col-10:first-child .location-project .regular{
        font-size: 12px;
    }
    #our-project .row .col-10:last-child{
        position: absolute;
        /* top: 47%; */
        top: 280px;
        right: 7%;
    }
    #our-project img{
        width: 100%;
    }
    .label-blog{
        top: 7%;
    }
    #footer-lp .col-8:first-child{
        margin-bottom: 5%;
    }
    .socmed-footer{
        text-align: center !important;
    }
    .about-us-desc .container .row div .about-us-banner--desc .left-side {
        text-align: center;
    }
    .about-us-desc .container .row div .about-us-banner--desc .right-side {
        padding: 20px 45px;
    }
    .decor-banner, .decor-milestone{
        display: none;
    }
    .milestone, .work-together{
        padding: 0px 40px;
    }
    .milestone .container .row{
        padding-top: 0px;
    }
    .milestone .container .row .right-side-milestone .image-milestone img:nth-child(1){
        margin-top: 30px;
    }
    /* project page */
    .content-project div .justify-content-center .col-xl-9 .list-project .row .project-location{
        text-align: left;
        margin-top: 10px;
    }
    .content-project div .justify-content-center .col-xl-9 .list-project .row .ml-auto{
        margin-top: 10px;
    }
    .content-project div .justify-content-center .col-7{
        padding-left: 20px;
    }
    .content-project div .justify-content-center .col-xl-9{
        padding-left: 40px;
    }
    .see-client-project .box-project p:nth-child(2){
        font-size: 15pt;
    }
    /* project page */
 }
/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .row{
        justify-content: center;
    }
    .image-detail, .photo, .thumb-blog{
        float: left !important;
    }
    #our-project img{
        width: 100%;
    }
    .navbar-brand img{
        width: 70% !important;
    }
    .feature-image{
        justify-content: center;
    }
    .image-detail.tile-1, .image-detail img{
        width: 100%;
    }
    .image-detail.tile-2{
        width: 50%;
    }
    .detail-about-us{
        text-align: center;
    }
    #about-us .col-md-8{
        text-align: center;
    }
    #about-us .col-md-8 img{
        width: 100%;
    }
    #about-us .col-9 h4{
        margin-bottom: 5%;
    }
    .service{
        margin-bottom: 5%;
    }
    .service p{
        width: 100%;
    }
    .service label{
        margin-top: 20px;
    }
    .photo{
        text-align: center;
        margin-bottom: 4%;
        margin-right: 20px;
        width: 45%;
    }
    .photo img{
        width: 100%;
    }
    #our-project .row{
        position: relative;
    }
    #our-project .col-10:first-child{
        margin-top: 20px;
        text-align: center !important;
    }
    #our-project .col-10:first-child h4{
        margin-bottom: 25px;
    }
    #our-project .row .col-10:first-child .artwork-project{
        margin-top: 75%;
        margin-left: 2%;
        text-align: left;
    }
    #our-project .row .col-10:first-child .location-project{
        text-align: left;
        position: absolute;
        bottom: 0%;
        left: 70%;
    }
    #our-project .row .col-10:last-child{
        position: absolute;
        top: 225px;;
        right: 7%;
    }
    .tile-blog-1{
        width: 100%;
    }
    .tile-blog-1 img, .tile-blog-1 .label-blog{
        width: 93.5% !important;
    }
    .tile-blog-2{
        width: 39%;
    }
    .tile-blog-2 img, .tile-blog-3 img{
        width: 100%;
    }
    .tile-blog-3{
        width: 52%;
    }
    .tile-blog-2, .tile-blog-3{
        margin-top: 3%;
        margin-bottom: 3%;
    }
    #our-blog .row:nth-child(3){
        margin-top: 0px;
    }
    .socmed-footer .btn-group{
        display: grid;
    }
    .socmed-footer .btn-group .btn{
        margin-bottom: 10px;
    }
    /* about us page */
    .decor-banner, .decor-milestone{
        display: none;
    }
    .about-us-desc .container .row div .about-us-banner--desc .left-side{
        text-align: center;
        margin-bottom: 20px;
    }
    .about-us-desc .container .row div .about-us-banner--desc .right-side p{
        font-size: 15pt;
    }
    .milestone .container .row{
        padding-top: 0px;
    }
    .milestone .container .row .list-milestone li{
        font-size: 17pt;
    }
    .milestone .container .row .left-side-milestone .milestone-title{
        font-size: 25pt;
    }
    .milestone .container .row .right-side-milestone .image-milestone img:nth-child(1){
        margin-top: 30px;
    }
    .work-together .container .row div .work-together-title{
        font-size: 20pt;
    }
    .work-together .container .row div .mb-5{
        font-size: 18pt;
    }
    /* about us page */
    /* project page */
    .content-project div .justify-content-center .col-xl-9{
        padding-left: 60px;
        padding-right: 60px;
    }
    .content-project div .justify-content-center .col-xl-9 .list-project .row .project-location{
        text-align: left;
        margin-top: 10px;
    }
    .content-project div .justify-content-center .col-xl-9 .list-project .row .ml-auto{
        margin-top: 10px;
    }
    /* project page */
}
/* // Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* home page */
    #footer-lp{
        padding-right: 60px;
        padding-left: 50px;
    }
    /* home page */
    /* about us page */
    .about-us-desc, .milestone{
        padding-left: 60px;
        padding-right: 60px;
    }
    .about-us-desc .container .row div .about-us-banner--desc .right-side p{
        font-size: 15pt;
        margin-top: 30px;
    }
    .decor-banner, .decor-milestone{
        display: none;
    }
    .milestone .container .row .left-side-milestone{
        padding-top: 0px;
    }
    .milestone .container .row .list-milestone li{
        font-size: 17pt;
    }
    .milestone .container .row .right-side-milestone .image-milestone img:nth-child(1){
        margin-top: 30px;
    }
    .work-together{
        padding: 0px 50px;
    }
    .work-together .container .row div .work-together-title{
        font-size: 20pt;
    }
    .work-together .container .row div .mb-5{
        font-size: 18pt;
    }
    /* about us page */
    /* project page */
    .content-project div .justify-content-center .col-xl-9{
        padding-left: 60px;
        padding-right: 60px;
    }
    /* project page */
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .navbar #navbarNav ul{
        margin-right: auto !important;
    }
    .search{
        width: 120px;
    }
    .decor-banner, .decor-milestone{
        display: none;
    }
    /* about us page */
    .about-us-desc, .milestone{
        padding-left: 60px;
        padding-right: 60px;
    }
    .about-us-desc .container .row div .about-us-banner--desc .right-side p{
        font-size: 15pt;
        margin-top: 30px;
    }
    .decor-banner, .decor-milestone{
        display: none;
    }
    .milestone .container .row .left-side-milestone{
        padding-top: 0px;
    }
    .milestone .container .row .list-milestone li{
        font-size: 17pt;
    }
    .milestone .container .row .right-side-milestone .image-milestone img:nth-child(1){
        margin-top: 30px;
    }
    .work-together{
        padding: 0px 50px;
    }
    .work-together .container .row div .work-together-title{
        font-size: 20pt;
    }
    .work-together .container .row div .mb-5{
        font-size: 18pt;
    }
    /* about us page */
    /* project page */
    .content-project div .justify-content-center .col-xl-9{
        padding-left: 80px;
        padding-right: 80px;
    }
    /* project page */
}
/* @media (max-width: 1008px)  */
@media (min-width: 1199.98px) { 
    .image-detail, .photo, .thumb-blog{
        float: left !important;
    }
    .content-project div .justify-content-center .col-xl-9 .list-project .row .custom-width-col{
        max-width: 12%;
    }
 }