@media (max-width: 575.98px) { 
    .navbar-brand img{
        width: 50% !important;
    }
    .subheadline{
        font-size: 17px;
    }
    .feature-image{
        justify-content: center;
    }
    .image-detail, .image-detail img, .thumb-blog, .thumb-blog img{
        width: 100%;
        margin-bottom: 2%;
    }
    .desc-detail{
        top: 16%;
    }
    .row{
        justify-content: center;
    }
    #about-us .col-md-8{
        text-align: center;
    }
    #about-us .col-md-8 img{
        width: 75%;
    }
    #about-us .col-9 h4{
        margin-bottom: 5%;
    }
    .detail-about-us div{
        text-align: center;
    }
    .service{
        margin-bottom: 5%;
    }
    .service p{
        width: 100%;
    }
    .service label{
        margin-top: 20px;
    }
    .photo{
        text-align: center;
        margin-bottom: 4%;
    }
    .photo img{
        width: 75%;
    }
    .label-artist{
        height: auto !important;
        margin-left: 12.4%;
        width: 75.4% !important;
        padding-top: 60.5%;
    }
    #our-project .row{
        position: relative;
    }
    #our-project .col-10:first-child{
        margin-top: 20px;
    }
    #our-project .col-10:first-child h4{
        margin-bottom: 25px;
    }
    #our-project .row .col-10:first-child p:nth-child(3){
        margin-top: 75%;
    }
    #our-project .row .col-10:last-child{
        position: absolute;
        top: 250px;;
        right: 7%;
    }
    #our-project img{
        width: 100%;
    }
    .label-blog{
        top: 7%;
    }
    #footer-lp .col-8:first-child{
        margin-bottom: 5%;
    }
    .socmed-footer{
        text-align: center !important;
    }
 }

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .row{
        justify-content: center;
    }
    #our-project img{
        width: 100%;
    }
    .navbar-brand img{
        width: 70% !important;
    }
    .feature-image{
        justify-content: center;
    }
    .image-detail.tile-1, .image-detail img{
        width: 100%;
    }
    .image-detail.tile-2{
        width: 50%;
    }
    #about-us .col-md-8{
        text-align: center;
    }
    #about-us .col-md-8 img{
        width: 100%;
    }
    #about-us .col-9 h4{
        margin-bottom: 5%;
    }
    .service{
        margin-bottom: 5%;
    }
    .service p{
        width: 100%;
    }
    .service label{
        margin-top: 20px;
    }
    .photo{
        text-align: center;
        margin-bottom: 4%;
        margin-right: 20px;
        width: 45%;
    }
    .photo img{
        width: 100%;
    }
    #our-project .row{
        position: relative;
    }
    #our-project .col-10:first-child{
        margin-top: 20px;
    }
    #our-project .col-10:first-child h4{
        margin-bottom: 25px;
    }
    #our-project .row .col-10:first-child p:nth-child(3){
        margin-top: 75%;
    }
    #our-project .row .col-10:last-child{
        position: absolute;
        top: 225px;;
        right: 7%;
    }
    .tile-blog-1{
        width: 100%;
    }
    .tile-blog-1 img, .tile-blog-1 .label-blog{
        width: 93.5% !important;
    }
    .tile-blog-2{
        width: 39%;
    }
    .tile-blog-2 img, .tile-blog-3 img{
        width: 100%;
    }
    .tile-blog-3{
        width: 52%;
    }
    .tile-blog-2, .tile-blog-3{
        margin-top: 3%;
        margin-bottom: 3%;
    }
    #our-blog .row:nth-child(3){
        margin-top: 0px;
    }
}
/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
 }
@media (min-width: 1199.98px) { 
    .image-detail, .photo, .thumb-blog{
        float: left !important;
    }
 }