@font-face {
    font-family: 'JosefinB';
    src: url("../fonts/JosefinSans-Bold.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'JosefinBI';
    src: url("../fonts/JosefinSans-BoldItalic.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'JosefinI';
    src: url("../fonts/JosefinSans-Italic.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'JosefinL';
    src: url("../fonts/JosefinSans-Light.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'JosefinR';
    src: url("../fonts/JosefinSans-Regular.ttf");
    font-weight: normal;
}

body{
    font-family: 'JosefinL';
    color: #5c5c5c;
}
.bold{
    font-family: 'JosefinB';
}
.regular{
    font-family: 'JosefinR';
    font-size: 15px;
}
.light{
    font-family: 'JosefinL';
}
.theme-color{
    color: #c9b8a7;
}
.subheadline{
    font-size: 23px;    
}
.p-no-ma{
    -webkit-margin-after: 0px !important;
}
.btn-theme{
    background-color: #c28f38;
    border-radius: 0px;
    color: #e4dcd5;;
    border: 1px solid transparent;
}
.btn-theme:hover{
    color: #c28f38;
    background-color: transparent;
    transition: all 0.3s ease;
    border-color: #c28f38
}
.btn-theme-reverse{
    border: 2px solid #c9b8a7;
    background: transparent;
    color: #c9b8a7;
    border-radius: 0px;
}
.btn-theme-reverse:hover{
    background: #c9b8a7;
    color: #fff;
    transition: all 0.3s ease;
}

/* navbar style */
.navbar{
    padding-left: 5%;
    padding-right: 5%;
    transition: all 0.3s ease;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #fff !important;
}
.navbar-brand{
    padding-left: 10px;
}
.navbar-brand img{
    width: 85%;
    transition: all 0.3s ease;
}
.navbar-nav{
    padding-right: 0%;
    margin-right: 10%;
}
.nav-item{
    font-family: 'JosefinB';
    margin-right: 35px;
    font-size: 11pt;
    color: #555555;
    letter-spacing: 0.5px;
}
.carousel-control{
    color: #555555;
}
.banner{
    margin-top: 7%;
}
.search{
    display: -webkit-inline-box;
    margin-right: 6px;
}
.search img{
    cursor: pointer;
    margin-right: 10px
}
#search-input{
    width: 0px;
    display: none;
    border: 0px;
    border-bottom: 1px solid #8c8b8c;
    background-color: transparent;
    margin-right: 8px;
    transition: all 0.5s ease;
    position: absolute;
    right: 12%;
    /* bottom: 11%; */
}
/* navbar style */

/* feature section */
#feature-section{
  margin-top: 47px;
  margin-bottom: 47px;
}
#feature-section .col-md-6:first-child{
    padding-right: 0px;
    padding-left: 54px;
}
#feature-section .col-md-6:last-child{
    padding-left: 0px;
}
.title-section{
  margin-bottom: 47px;
}
/* .feature-image .col-6:first-child img:nth-child(2){
  float: left;
} */
.feature-image--right{
    margin-left: -4px;
}
.image-detail, .photo, .thumb-blog{
    position: relative;
    overflow: hidden;
}
.image-detail:hover .desc-detail{
    /* width: 100%; */
    opacity: 1;
}
.image-detail img, .photo img, .thumb-blog img{
    transition: all .5s ease-in;
}
.image-detail:hover img, .photo:hover img, .thumb-blog:hover img{
    transform: scale(1.1);
}
.desc-detail{
    display: block;
    opacity: 0;
    background-color: #555555a6;
    position: absolute;
    top: 38%;
    color: #ffffff;
    padding-top: 3%;
    padding-bottom: 5%;
    transition: 0.3s all ease;
}
.desc-detail p:nth-child(2){
    margin-bottom: 21px !important;
}
.image--author{
    font-style: italic;
}
.link-label{
    border: 1px solid #fff;
    color: #fff;
    padding: 2%;
    margin-top: 10px;
    transition: all 0.4s ease;
}
.link-label:hover{
    text-decoration: none;
    color: #000;
    background-color: #fff
}
/* feature section */
/* about us section */
#about-us{
    background-image: url('../images/bg-2.png');
    padding-top: 47px;
    padding-bottom: 45px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
#about-us .col-md-8{
    padding-left: 4.5%;
}
#about-us .col-md-8 img{
    width: 96%;
}
.detail-about-us{
    padding-right: 5%;
}
.detail-about-us h4{
    margin-top: 8%;
    margin-bottom: 15%;
}
.detail-about-us p{
    /* font-size: 12pt; */
    font-size: 15px;
    line-height: 1.2;
}
.detail-about-us a{
    margin-top: 3%;
    margin-bottom: 5%;
    color: #5c5c5c;
}
.detail-about-us div{
    color: #c28f38;
}
.service-list{
    margin-top: 47px;
}
.service:nth-child(2){
    margin-left: 5%;
    margin-right: 5%;
}
.service label{
    margin-top: 39px;
}
.service p{
    /* line-height: 1.2; */
    width: 244px;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: normal;
}
/* about us section */

/* artist section */
#feature-artist{
    margin-bottom: 47px;    
}
#feature-artist .title-section{
    margin-top: 47px;
}
.list-artist{
    padding-left: 8%;
    padding-right: 8%;
}
.photo{
    margin-right: 9px;
    position: relative;
}
.photo:hover .label-artist{
    opacity: 1;
}
.label-artist{
    opacity: 0;
    position: absolute;
    background-color: #555555a6;
    color: #ffffff;
    top: 0%;
    text-align: center;
    padding-top: 70%;
    transition: all 0.5s ease;
}
.label-artist--hide{
    display: none;
}
.name-artist{
    -webkit-margin-after: 0px;
    font-size: 18px;
}
.artwork-artist{
    font-style: italic;
}
#feature-artist .row:nth-child(2){
    margin-bottom: 9px;
}
/* artist section */
/* project section */
#our-project{
    background-color: #ececec;
    padding-top: 47px;
    padding-bottom: 47px;
}
#our-project .col-md-4{
    padding-top: 49px;
    padding-right: 1%;
}
#our-project .col-md-4 p{
    font-size: 14px;
    line-height: 18px;
}
#our-project .col-md-4 h4{
    margin-bottom: 47px;
}
/* project section */
/* blog */
#our-blog{
    padding-top: 46px;
}
#our-blog .row:nth-child(3){
    margin-top: 10.5px;
}
.thumb-blog{
    margin-right: 12.3px;
    position: relative;
}
.thumb-blog:hover .label-blog{
    opacity: 1;
}
.label-blog{
    opacity: 0;
    position: absolute;
    background-color: #0000006b;
    color: #ffffff;
    top: 27%;
    padding-top: 2%;
    padding-bottom: 4%;
    transition: all 0.4s ease;
}
.label-blog p{
    -webkit-margin-after: 0px;
}
.name-blog{
    font-family: 'JosefinR';
    font-size: 15pt;
    padding-bottom: 10px;
}
.quote-blog{
    font-style: italic;
    font-size: 14px;
    padding-bottom: 20px;
}
/* blog */
/* find us */
#find-us{
    background-image: url('../images/bg-find.png');
    margin-top: 47px;
    padding-top: 46px;
    padding-bottom: 47px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#subscribe-lp{
    margin-top: 46px;
    margin-bottom: 46px;
}
.subscribe input{
    border: 0px;
    border-bottom : 2px solid #c9b8a7;
    font-style: italic;
    margin-right: 4%;
    width: 40%;
}
.subscribe input:focus{
    outline: none;
}
.name-place{
    font-size: 18px;
}
.address{
    font-size: 14px;
}
/* find us */
/* footer */
#footer-lp{
    background-color: #e4dbd3;
    padding-top: 49px;
    padding-bottom: 19px;
    margin-bottom: 0%;
}
#footer-lp .footer--hr{
    width: 15%;
    border-top: 3px solid #a58b74;
    -webkit-margin-start: 0px;
    margin-bottom: 19px;
    margin-top: 19px;
}
.footer-menu a{
    color: #5c5c5c;
    display: block;
}
.footer-menu a:hover{
    text-decoration: none;
}
.socmed-footer .btn-group .btn{
    background: transparent;
    border: 0px;
}
.copyright{
    margin-top: 28px;
    margin-bottom: 39px;
}
/* footer */

/* about us page */
/* banner section */
.about-us-banner .container .row div .about-us-banner--image{
    margin-top: 40px;
}
.about-us-banner .container .row div .about-us-banner--image img:nth-child(1){
    position: fixed;
    left: 265px;
    top: 370px;
    width: 65px;
}
.about-us-banner .container .row div .about-us-banner--image img:nth-child(2){
    /* width: 665px; */
    width: 60%;
    margin-left: 10px;
}
.about-us-desc{
    margin-top: -145px;
    background: #e6e6e6;
    padding-top: 190px;
    padding-bottom: 30px;
}
.about-us-desc .container .row div .about-us-banner--desc .left-side p{
    margin-bottom: 0px;
    line-height: 1.3;
    font-size: 22pt;
}
.about-us-desc .container .row div .about-us-banner--desc .right-side p{
    font-size: 11pt;
}
/* end of banner section */
/* milestone */
.milestone .container .row{
    padding-top: 90px;
}
.milestone .container .row .left-side-milestone{
    padding-top: 80px;
}
.milestone .container .row .left-side-milestone .milestone-title{
    font-size: 17pt;
    margin-bottom: 20px;
}
.milestone .container .row .list-milestone li{
    font-size: 13pt;
    line-height: 1.7;
}
.milestone .container .row .right-side-milestone .image-milestone img:nth-child(1){
    width: 81.6%;
    /* width: 420px; */
}
/* .milestone .container .row .right-side-milestone .image-milestone img:nth-child(2){
    position: absolute;
    top: -50px;
    right: 25px;
} */
.milestone .container .row .right-side-milestone .list-milestone{
    margin-left: 40px;
    margin-top: 20px;
}
/* end of milestone */
/* work together */
.work-together .container .row div .hr-about-us{
    border-top: 2px solid #eaeaea;
    margin-top: 20px;
    margin-bottom: 40px;
}
.work-together .container .row div .work-together-title{
    font-size: 15pt;
    font-family: 'JosefinR';
}
/* end of work together */
/* end of about us page */

/* Client page */
.banner  *, .banner--project *, .content-project *{
    padding: 0px;
    margin: 0px;
}
.our-client-section-client{
    background-image: url('../images/bg-find.png');
    padding-top: 50px;
    padding-bottom: 50px;
}
.our-client-section-client div .client-box .col-xl-10{
    background-color: #fff;
    padding: 35px 60px;
}
.our-client-section-client div .client-box .col-xl-10 .client-logos img{
    margin: 15px 10px;
}
.collaboration-section-client div .row .col-xl-12{
    padding-left: 30px;
    padding-right: 30px;
}
.collaboration-section-client div .row div .partner-logos img{
    margin: 15px 5px;
}
/* end of Client page */

/* project page */
.content-project div .justify-content-center .col-xl-9{
    padding-left: 22px;
    padding-right: 40px;
}
.content-project div .justify-content-center .col-xl-9 .list-project{
    margin-bottom: 40px;
}
.content-project div .justify-content-center .col-xl-9 .list-project img{
    margin-bottom: 25px;
}
.content-project div .justify-content-center .col-xl-9 .list-project .row div .bold{
    font-size: 20pt;
}
.content-project div .justify-content-center .col-xl-9 .list-project .row div p{
    margin-bottom: 0px;
}
.content-project div .justify-content-center .col-xl-9 .list-project .row .project-location{
    text-align: right;
}
.pagination-spasium ul li{
    margin: 0px 10px 0px 10px;
}
.pagination-spasium ul li a{
    border: 0px;
    color: #5c5c5c;
}
.pagination-spasium ul li a:hover{
    background-color: transparent;
    color: #5c5c5c;
}
.see-client-project {
    background-image: url('../images/bg-find.png');
    padding-top: 50px;
    padding-bottom: 50px;
}
.see-client-project .box-project{
    background-color: #fff;
    padding: 4%;
}
/* end of project page */