@font-face {
    font-family: 'JosefinB';
    src: url("../fonts/JosefinSans-Bold.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'JosefinBI';
    src: url("../fonts/JosefinSans-BoldItalic.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'JosefinI';
    src: url("../fonts/JosefinSans-Italic.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'JosefinL';
    src: url("../fonts/JosefinSans-Light.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'JosefinR';
    src: url("../fonts/JosefinSans-Regular.ttf");
    font-weight: normal;
}

body{
    font-family: 'JosefinL';
    color: #5c5c5c;
}
.bold{
    font-family: 'JosefinB';
}
.regular{
    font-family: 'JosefinR';
    font-size: 15px;
}
.theme-color{
    color: #c9b8a7;
}
section{
    margin-bottom: 2%;
}
.p-no-ma{
    -webkit-margin-after: 0px !important;
}
.btn-theme{
    background-color: #c28f38;
    border-radius: 0px;
    color: #e4dcd5;;
    border: 1px solid transparent;
}
.btn-theme:hover{
    color: #c28f38;
    background-color: transparent;
    transition: all 0.3s ease;
    border-color: #c28f38
}
.btn-theme-reverse{
    border: 2px solid #c9b8a7;
    background: transparent;
    color: #c9b8a7;
    border-radius: 0px;
}
.btn-theme-reverse:hover{
    background: #c9b8a7;
    color: #fff;
    transition: all 0.3s ease;
}

/* navbar style */
.navbar{
    padding-left: 5%;
    padding-right: 5%;
    transition: all 0.3s ease;
    padding-top: 2%;
}
.navbar-brand{
    padding-left: 10px;
}
.navbar-brand img{
    width: 100%;
}
.navbar-nav{
    border-bottom: 1px solid #000;
    padding-left: 2%;
    padding-right: 0%;
    margin-right: 13%;
}
.nav-item{
    font-family: 'JosefinB';
    margin-right: 35px;
    font-size: 11pt;
    color: #555555;
    letter-spacing: 0.5px;
}
.carousel-item{
    position: relative;
}
.carousel-item img{
    width: 100%;
}
.carousel-caption{
    position: absolute;
    bottom: 42%;
    left: 53%;
    font-size: 17pt;
    width: 342px;
    color: #555555;
}
.carousel-control{
    color: #555555;
}
.search{
    display: -webkit-inline-box;
    margin-right: 6px;
}
.search img{
    cursor: pointer;
    margin-right: 10px
}
#search-input{
    width: 0px;
    display: none;
    border: 0px;
    border-bottom: 1px solid #8c8b8c;
    background-color: transparent;
    margin-right: 8px;
    transition: all 0.5s ease;
    position: absolute;
    right: 12%;
    /* bottom: 11%; */
}
/* navbar style */

/* feature section */
#feature-section{
  padding-top: 60px;
}
#feature-section .col-md-6:first-child{
    padding-right: 0px;
    padding-left: 54px;
}
#feature-section .col-md-6:last-child{
    padding-left: 0px;
}
.title-section{
  margin-bottom: 30px;
}
.feature-image .col-md-6:first-child img:nth-child(2){
  float: left;
}
.feature-image--right{
    margin-left: -4px;
}
.image-detail{
    position: relative;
    float: left;
}
.image-detail:hover .desc-detail{
    /* width: 100%; */
    opacity: 1;
}
.desc-detail{
    display: block;
    opacity: 0;
    background-color: #555555a6;
    position: absolute;
    top: 38%;
    color: #ffffff;
    padding-top: 3%;
    padding-bottom: 5%;
    transition: 0.3s all ease;
}
.desc-detail p:nth-child(2){
    margin-bottom: 21px !important;
}
.image--author{
    font-style: italic;
}
.link-label{
    border: 1px solid #fff;
    color: #fff;
    padding: 2%;
    margin-top: 10px;
    transition: all 0.4s ease;
}
.link-label:hover{
    text-decoration: none;
    color: #000;
    background-color: #fff
}
/* feature section */
/* about us section */
#about-us{
    margin-top: 5%;
    background-image: url('../images/bg-2.png');
    padding-top: 5%;
    padding-bottom: 5%;
}
#about-us .col-md-8{
    padding-left: 4.5%;
}
#about-us .col-md-8 img{
    width: 96%;
}
.detail-about-us{
    padding-right: 5%;
}
.detail-about-us h4{
    margin-top: 8%;
    margin-bottom: 15%;
}
.detail-about-us p{
    /* font-size: 12pt; */
    font-size: 15px;
    line-height: 1.2;
}
.detail-about-us a{
    margin-top: 3%;
    margin-bottom: 5%;
    color: #5c5c5c;
}
.detail-about-us div{
    color: #c28f38;
}
.service-list{
    margin-top: 7%;
}
.service:nth-child(2){
    margin-left: 5%;
    margin-right: 5%;
}
.service label{
    margin-top: 15%;
}
.service p{
    /* line-height: 1.2; */
    width: 244px;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: normal;
}
/* about us section */

/* artist section */
#feature-artist .title-section{
    margin-top: 4%;
    margin-bottom: 5%;
}
.list-artist{
    padding-left: 8%;
    padding-right: 8%;
}
.photo{
    float: left;
    margin-right: 7px;
    position: relative;
}
.photo:hover .label-artist{
    opacity: 1;
}
.label-artist{
    opacity: 0;
    position: absolute;
    background-color: #555555a6;
    color: #ffffff;
    top: 0%;
    text-align: center;
    padding-top: 70%;
    transition: all 0.5s ease;
}
.label-artist--hide{
    display: none;
}
.name-artist{
    -webkit-margin-after: 0px;
    font-size: 18px;
}
.artwork-artist{
    font-style: italic;
}
#feature-artist .row:nth-child(2){
    margin-bottom: 1%;
}
/* artist section */
/* project section */
#our-project{
    background-color: #ececec;
    padding-top: 5%;
    padding-bottom: 5%;
}
#our-project .col-md-4{
    padding-top: 4%;
    padding-right: 1%;
}
#our-project .col-md-4 p{
    font-size: 14px;
}
#our-project .col-md-4 h4{
    margin-bottom: 30px;
}
/* project section */
/* blog */
#our-blog .row:nth-child(3){
    margin-top: 10px;
}
.thumb-blog{
    float: left;
    margin-right: 7px;
    position: relative;
}
.thumb-blog:hover .label-blog{
    opacity: 1;
}
.label-blog{
    opacity: 0;
    position: absolute;
    background-color: #0000006b;
    color: #ffffff;
    top: 27%;
    padding-top: 2%;
    padding-bottom: 4%;
    transition: all 0.4s ease;
}
.label-blog p{
    -webkit-margin-after: 0px;
}
.name-blog{
    font-family: 'JosefinR';
    font-size: 15pt;
    padding-bottom: 10px;
}
.quote-blog{
    font-style: italic;
    font-size: 14px;
    padding-bottom: 20px;
}
/* blog */
/* find us */
#find-us{
    background-image: url('../images/bg-find.png');
    margin-top: 5%;
    margin-bottom: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
}
#find-us .title-section{
    margin-bottom: 3%;
}
.subscribe input{
    border: 0px;
    border-bottom : 2px solid #c9b8a7;
    font-style: italic;
    margin-right: 4%;
    width: 40%;
}
.subscribe input:focus{
    outline: none;
}

/* find us */
/* footer */
#footer-lp{
    background-color: #e4dbd3;
    padding-top: 4%;
    padding-bottom: 3%;
    margin-bottom: 0%;
}
.footer-menu a{
    color: #5c5c5c;
    display: block;
}
.footer-menu a:hover{
    text-decoration: none;
}
.socmed-footer .btn-group .btn{
    background: transparent;
    border: 0px;
}
/* footer */
